<div
  class="bg-surface-0 dark:bg-surface-900 p-8 md:p-12 shadow-sm rounded-2xl w-full max-w-sm mx-auto flex flex-col gap-8"
>
  <div class="flex flex-col items-center gap-4">
    <div class="flex flex-col items-center gap-2 w-full">
      <div
        class="text-surface-900 dark:text-surface-0 text-2xl font-semibold leading-tight text-start w-full"
      >
        Request password reset
      </div>
      <div class="text-start w-full">
        <span class="text-surface-700 dark:text-surface-200 leading-normal"
        >Please enter your email address. You will receive a link to create a new password via email.</span
        >
      </div>
    </div>
  </div>

  <form class="flex flex-col gap-6 w-full" id="requestPasswordResetForm" [formGroup]="form" (submit)="requestPasswordReset()">
    <div class="flex flex-col gap-2 w-full">
      <label for="email" class="text-surface-900 dark:text-surface-0 font-medium leading-normal"
      >Email Address</label
      >
      <input
        pInputText
        formControlName="email"
        id="email"
        type="email"
        placeholder="Email address"
        class="w-full px-3 py-2 shadow-sm rounded-lg"
      />
      @if (form.controls.email.touched && form.controls.email.dirty) {
        @if (form.controls.email.hasError('pattern')) {
          <p-message severity="error" size="small" variant="simple"
          >Email should be valid</p-message
          >
        } @else if (form.controls.email.hasError('required')) {
          <p-message severity="error" size="small" variant="simple"
          >Email should not be empty</p-message
          >
        }
      }
    </div>
  </form>

  <button
    pButton
    type="submit"
    form="requestPasswordResetForm"
    class="w-full py-2 rounded-lg flex justify-center items-center gap-2"
    [disabled]="form.invalid || loading()"
  >
    <i pButtonIcon class="pi pi-user text-base! leading-normal!"></i>
    <span pButtonLabel>Get new password</span>
  </button>
</div>
