<div
  class="bg-surface-0 dark:bg-surface-900 p-8 md:p-12 shadow-sm rounded-2xl w-full max-w-sm mx-auto flex flex-col gap-8"
>
  <div class="flex flex-col items-center gap-4">
    <div class="flex flex-col items-center gap-2 w-full">
      <div
        class="text-surface-900 dark:text-surface-0 text-2xl font-semibold leading-tight text-start w-full"
      >
        Create your new password
      </div>
    </div>
  </div>

  <form class="flex flex-col gap-6 w-full" id="passwordResetForm" [formGroup]="form" (submit)="resetPassword()">
    <input type="hidden" formControlName="token"/>

    <div class="flex flex-col gap-2 w-full">
      <label for="password" class="text-surface-900 dark:text-surface-0 font-medium leading-normal"
      >New password</label
      >
      <p-password
        formControlName="password"
        inputId="password"
        placeholder="Password"
        inputStyleClass="w-full px-3 py-2 shadow-sm rounded-lg"
        [toggleMask]="true"
        [feedback]="false"
      />

      @if (form.controls.password.touched && form.controls.password.dirty) {
        @if (form.controls.password.hasError('minlength')) {
          <p-message severity="error" size="small" variant="simple"
          >Password should have at least
            {{ form.controls.password.errors?.['minlength'].requiredLength }} characters</p-message
          >
        } @else if (form.controls.password.hasError('required')) {
          <p-message severity="error" size="small" variant="simple"
          >Password should not be empty</p-message
          >
        }
      }
    </div>

    <div class="flex flex-col gap-2 w-full">
      <label
        for="confirmPassword"
        class="text-surface-900 dark:text-surface-0 font-medium leading-normal"
      >Confirm password</label
      >
      <p-password
        formControlName="confirmPassword"
        inputId="confirmPassword"
        placeholder="Confirm password"
        inputStyleClass="w-full px-3 py-2 shadow-sm rounded-lg"
        [toggleMask]="true"
        [feedback]="false"
      />
      @if (form.controls.confirmPassword.touched && form.controls.confirmPassword.dirty) {
        @if (form.hasError('passwordMissMatch')) {
          <p-message severity="error" size="small" variant="simple">Password miss match</p-message>
        }
      }
    </div>
  </form>

  <button
    pButton
    type="submit"
    form="passwordResetForm"
    class="w-full py-2 rounded-lg flex justify-center items-center gap-2"
    [disabled]="form.invalid || loading()"
  >
    <i pButtonIcon class="pi pi-user text-base! leading-normal!"></i>
    <span pButtonLabel>Create new password</span>
  </button>
</div>
